@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');
@import 'tailwindcss';

:root {
	--bg-back: 0 0% 0%;
	--bg-middle: 0 0% 15%;
	--bg-front: 0 60.8% 56.9%;
	--text: 0 0% 95%;
	--text-muted: 0 0% 70%;
}

html.light {
	--bg-back: 0 0% 85%;
	--bg-middle: 0 0% 97%;
	--bg-front: 0 60.8% 60.9%;
	--text: 0 0% 5%;
	--text-muted: 0 0% 30%;
}

html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Outfit', sans-serif;
}
